@model ServiceHelp.ViewModels.IssueViewModel
@using ServiceHelp.Utils

@{
    ViewData["Title"] = "Edycja zgłoszenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject ServiceHelp.Dictionary.IssueDictionary dictionary

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPrioritet" class="control-label"></label>
                <select asp-for="IdPrioritet" data-placeholder="Wybierz priorytet" class="form-control" asp-items="@dictionary.GetPrioritetDictionary()"></select>
                <span asp-validation-for="IdPrioritet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" type="text" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @if (User.IsInRole(Consts.DEF_ADMIN_ROLE) || User.IsInRole(Consts.DEF_SERVICE_MAN_ROLE))
            {
                <div class="form-group">
                    <label asp-for="IdStatus" class="control-label"></label>
                    <select asp-for="IdStatus" data-placeholder="Wybierz status" class="form-control" asp-items="@dictionary.GetStatusDictionary()"></select>
                    <span asp-validation-for="IdStatus" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="CategoryIds" class="control-label"></label>
                <select asp-for="CategoryIds" data-placeholder="Wybierz kategorie" class="form-control" multiple="multiple" asp-items="@dictionary.GetCategoryIssueDictionary()"></select>
                <span asp-validation-for="CategoryIds" class="text-danger"></span>
            </div>
            @if (User.IsInRole(Consts.DEF_ADMIN_ROLE) || User.IsInRole(Consts.DEF_SERVICE_MAN_ROLE))
            {
                <div class="form-group">
                    <label asp-for="IdServiceUser" class="control-label"></label>
                    <select asp-for="IdServiceUser" data-placeholder="Przypisz serwisanta" class="form-control" asp-items="@dictionary.GetServiceMans()">
                        <option disabled selected></option>
                    </select>
                    <span asp-validation-for="IdServiceUser" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy zgłoszeń</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
